// ----- colors -----

$headerBackground : rgb(255, 255, 255);
$itemColor : #111;
$logoColor : rgb(9, 209, 209);

// ----- position ------

$padSize : 2.5rem 11rem;

// ---- font-size ------

$logoFont: 1.8rem;
$fontItem  : 1.1rem;

// --- Blog posts-----

$blogMarTop: -1rem;
$blogBackgroundColor: #e6e0e0;

// --- Footer

$footerHeight : 300px;
$footerHeaderWeight : 300;
$footerItemWeight : 100;
$footerHeaderfontSize : 1.5rem;
$footerLinkfontSize : 1.2rem;
$footerPad : 40px;
$footerHeaderMrgTop : 20px;
$listMrgTop : 15px;
$linkPadTop : 10px;
$listItemMrg : 0.5rem;
$paraMrg : 0rem 1rem;
$footerbckgrd : #292c2f;

// --- intro

$mrgTop : -4.5%;
$marginTitle : -5.5rem;
$marginBtTitle : 2rem;
$padBtn : 0.4rem 0.25rem;
$marginImg : -6rem;

// font-size 

$logoFont: 1.8rem;
$fontItem  : 1.1rem;
$fontAboutMedium : 1.3rem; 
$fontAboutTitle : 3rem;
$h3fontSize : 1.5rem;
$paraFontSize : 1.2rem;
$paraMrgTop : 1rem;
$fontWeightTitle : 500;

// social media
$buttonWidthHeight : 50px;
$btnBackground : rgb(233, 231, 231);
$boxShadowColor : rgba(0, 0, 0, 0.1);
$nth-child-1 : #0072b1;
$nth-child-2 : rgb(43, 41, 41);
$nth-child-3 : #00acee;
$nth-child-4 : #ff0000;
$nth-child-5 : #1877f2;

// portfolio

$box-background : rgb(209, 209, 209);
$btn-background : rgb(83, 82, 82);
$btn-download-icon-color :rgb(5, 12, 12);

$heading-title : 2rem;
$heading-margin-LR : 6rem;
$heading-padding : 1rem;
$contentMrg-top : -5rem;
$font-icon-size : 3rem;

$box-padding: 2.75rem;
$box-margin: 2.5rem 4rem;
$box-font-size: 1.2rem;
$h3-font-weight : 400;

$box-container-padding : 2rem 0;
$box-container-box-margin : 2.5rem 0;
$box-container-box-padding : 2rem 1rem;

$margin-top-section: 10rem;

//----- blogs

$blogBackgroundColor: #e4e4e4;


// user login

$fontTitle : 2rem;
$fontBody : 1.3rem;
$cardBodyBackground : rgb(220, 227, 228);
$fontInput : 1.1rem;
$forgotPwdColor : rgb(12, 12, 202);
$fontforgotPwd : 1.1rem;
$invalidfeedbackcolor : #ff0000;
$invalidfeedbackfont : 1rem;
